@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

    background: linear-gradient(135 deg, #ffd6e8 , #fcbad3 , #f9a8c7);
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blue(14px);

    padding: 50px;
    border-radius: 50px;
    max-width: 400px;
    width: 75%;
    text-align: center;

    box-shadow: 0 20px 50px rgba(0,0,0,0.20);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

h1 {
    font-size: 2.4rem;
    color: #5a103a;
    margin-bottom: 10px;
}

#countdown {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #7a2c4d;
    font-weight: 500;
}

#message {
    margin-top: 25px;
    color: #4a082c;
    font-size: 1.2rem;
    line-height: 1.4;
}

#timer {
    margin-top: 8px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #7a1c4d;
    opacity: 0.75;
}